body{
    background-color: darkblue;
    text-align: center;
    font-family: 'Arvo', serif;
}
h1{
    color: #cc5dae;
    font-size: 38px;
}
 p{
   font-size: 18px;
   color: aquamarine;
    }
    hr{
        width: 200px;
        height: 10px;
        background-color:darkblue ;
        margin-bottom: 20px;
    }
    h3{
        color: #cc5dae;
        font-size: 24px;
    }
    .projetos{
        background-color: rgba(14, 14, 67, 0.833);
        margin: 20px;
        padding: 10px;
    }
    img{
        width: 300px;
        margin-right: 20px;
    }